//colore
.bg-header {
    background-color: black;
}

.bg-menu {
    background-color: rgba(0, 0, 155, 0.671);
}

//colore

//utils di visualizzazione
.scroll {
    overflow-y: scroll;
}

//utils di visualizzazione